@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --rounded-btn: 2px;
}
.App{
	min-height: 100vh;
}

.select:focus ,
.input:focus {
  outline: 0px solid hsla(var(--bc) / 0.2);
  outline-offset: 0px;
}
dialog{

  position: fixed;
  top: 20em;
}